body {
  background-color: black;
  font-family: verdana;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("./assets/img/blitz2.jpg");
  background-repeat: repeat-x;
}
li {
  float: right;
}
li a {
  display: block;
  color: lightseagreen;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
li a.active {
  background-color: #04AA6D;
  color : white;
}
li a:hover :not(.active) {
  background-color: #555;
  color: whitesmoke
}
